.upvote-button
{
    background-image: url(../../../assets/up-arrow.png);
    background-color: transparent;
    width: 64px;
    height: 64px;
}

.downvote-button
{
    background-image: url(../../../assets/down-arrow.png);
    background-color:transparent;
    width: 64px;
    height: 64px;
}