.world {
  border-radius: 10px;
  font-size: 20px;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  text-align: center;
  align-items: center;
  background: #24252a;
}

.message-content {
  font-size: 24px;
}
