.world {
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background: #24252a;
  padding: 10px 20px 10px 20px;
  margin: 10px;
}

#change-display-name-form input {
  margin: 0px 10px;
  margin-top: -50px;
  font-size: 16px;
  padding: 3px;
}

.message-content {
  font-size: 24px;
}

.center {
  align-items: center;
  text-align: center;
}
