<div class="row">
  <div class="col-3 center col-s-12">
      <h2 *ngIf="me.displayName">Welcome "{{ me.displayName }}"</h2>
      <img src="{{ user.picture }}" />
  </div>
  <div class="col-9 col-s-12">
    <h1>You have claims in these worlds:</h1>
    <div class="worlds-container" *ngFor="let claim of claims.slice(0, limit)">
      <app-worlddiv
        class="row world general align-items-center"
        [world]="claim.world"
      ></app-worlddiv>
    </div>
    <div class="row comment-button-container">
      <button
        *ngIf="page > 0"
        class="btn prev-btn"
        (click)="getClaims(page - 1, limit)"
      >
        Prev
      </button>
      <button
        *ngIf="claims.length === limit + 1"
        class="btn next-btn"
        (click)="getClaims(page + 1, limit)"
      >
        Next
      </button>
    </div>
  </div>
</div>



