<h1 class="text">Welcome to Buildverse!</h1>
<p class="text">
  BuildVerse is a 3D sandbox platform that allows players to add their creations
  into a shared virtual world. Players can claim a plot of land and make changes
  to it using a 3D modeling software of their choice, then submit this plot to
  be displayed among other players' creations.
</p>
<div class="img-container"><img src="../../../assets/demo.png" /></div>
<p class="text">Login/Signup to get started!</p>
<footer class="text">
  <p class="text">Created by Project3DWorld Team</p>
  <a href="credits" (click)="goCredits()">Credits</a>
</footer>
