header {
  display: flex;
  margin-top: 36px;
  height: 64px;
  justify-content: flex-end;
}

header #title {
  color: black;
  text-decoration: none;
  margin: 0px;
  width: 100%;
  font-size: 48px;
}

@media screen and (max-width: 600px) {
  header #title {
    font-size: 24px;
  }
}

.header-btn {
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

#error-box {
  color: red;
  visibility: hidden;
}

#error-box::before {
  content: "Error: ";
}

.btn:hover {
  background: brown;
  color: #ffffff;
  cursor: pointer;
}

.notification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  border: none;
  outline: none;
  border-radius: 50%;
}

.notification-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
