<header>
  <a href="/" id="title">Buildverse</a>
  <div *ngIf="auth.isAuthenticated$ | async">
    <button class="general btn" (click)="goToWorlds()">Worlds</button>
  </div>
  <div *ngIf="auth.isAuthenticated$ | async">
    <button class="general btn" routerLink="profile">Profile</button>
  </div>
  <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button class="btn general btn-warning" (click)="signOut()">Log out</button>
  </div>

  <ng-template #loggedOut>
    <button class="btn general btn-primary" (click)="loginWithRedirect()">
      Log in
    </button>
  </ng-template>
</header>

<p id="error-box"></p>
